@use "./abstracts/fonts";
@use "./abstracts/colors";

.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: 6em;

	background-color: colors.$dark-green;
	border-bottom: 1px solid black;

	img {
		height: 100%;
		width: 5em;
		display: grid;
		place-items: center;
	}

	p {
		margin: 0;
		display: grid;
		place-items: center;
		text-align: center;
		font-size: 1rem;
		font-family: fonts.$roboto-condensed;
		font-weight: bold;
	}

	div {
		height: 100%;
		width: 5em;
		display: grid;
		place-items: center;
		p {
			transform: rotate(90deg);
		}
	}

	.menuIcon {
		height: 2rem;
		width: 2rem;
	}
}

.menu {
	z-index: 1;
	position: fixed;
	background-color: colors.$dark-green;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 2em;
	padding: 2em 0;

	animation: rotateX 100ms forwards;
	transform-origin: top center;
	@keyframes rotateX {
		0% {
			opacity: 0;
			transform: rotateX(-90deg);
		}
		100% {
			opacity: 1;
			transform: rotateX(0deg);
		}
	}

	a {
		background-color: colors.$light-green;
		width: 80%;
		height: 3em;
		border-radius: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
