@use "./abstracts/fonts";
@use "./abstracts/colors";


.header {
	display: flex;
	justify-content: space-between;
	height: 6em;

	border-bottom: 1px solid black;

	img {
		height: 100%;
		width: 5em;
		display: grid;
		place-items: center;
	}

	p {
		margin: 0;
		display: grid;
		place-items: center;
		text-align: center;
		font-size: 1rem;
        font-family: fonts.$roboto-condensed;
        font-weight: bold;
	}

    div {
		height: 100%;
		width: 5em;
		display: grid;
		place-items: center;
        p {
            transform: rotate(90deg);
        }
	}
}

