@use "./abstracts/fonts";
@use "./abstracts/colors";

.hamburger {
	background-color: red;
}

.header {
    position: sticky;
    top: 0;
	display: flex;
	justify-content: space-between;
	height: 6em;

    background-color: colors.$dark-green;
	border-bottom: 1px solid black;

	img {
		height: 100%;
		width: 5em;
		display: grid;
		place-items: center;
	}

	p {
		margin: 0;
		display: grid;
		place-items: center;
		text-align: center;
		font-size: 1rem;
        font-family: fonts.$roboto-condensed;
        font-weight: bold;
	}

    div {
		height: 100%;
		width: 5em;
		display: grid;
		place-items: center;
        p {
            transform: rotate(90deg);
        }
	}


	.menuIcon{
		height: 2rem;
		width: 2rem;
	}
}

.body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 0 2em;

	h1 {
		margin-top: 0.8em;
		font-size: 3em;
		font-family: fonts.$big-shoulders-display;
		text-align: center;
		text-transform: uppercase;
	}

	input[type="button"] {
		background-color: white;
		border: none;
		outline: none;
		padding: 0.5em 1em;

		font-size: 1.5em;
		font-weight: bold;
		border-radius: 1em;
	}

	.model {
		margin-top: 3em;
		text-align: center;

		width: 100%;
		height: 22rem;
	}

	p {
        margin-top: 2em;
        font-family: fonts.$roboto-condensed;
	}
}

.menu {
    position: fixed;
    background-color: colors.$dark-green;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}