.body {
	display: flex;
	flex-direction: column;
    justify-content: center;

    margin: 0 2em;

	.searchBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
		margin-top: 2em;
		padding: 1em;
        width: 100%;
		border-radius: 2em;
		border: 1px solid white;

		input[type="text"] {
			background-color: transparent;
			outline: none;
            border: none;
			outline: none;
			font-size: 1.2em;
            color: white;
            width: 100%;

            &::placeholder{
                color: white;
            }
		}

        

        

        svg {
            aspect-ratio: 1/1;
            scale: 1.3;
        }

	}

   

    .categories {
        display: flex;
        gap: 1em;
        overflow: hidden;
        overflow-x: auto;
        user-select: none;

        p {
            --main-color : rgba(255, 255, 255, 0.85);
            border: 2px solid var(--main-color);
            //color: rgba(0, 0, 0, 1);
            //background-color: var(--main-color);

            border-radius: 10rem;
            font-size: 1.2em;
            padding: .5em 1em;
            
            font-weight: bold;

            transition: all .1s;

            &:hover{
                border: 2px solid rgba(255, 255, 255, 0.445);    
                color: rgba(255, 255, 255, 0.445);
                cursor: pointer ;
            }

            &:active{
                box-shadow: inset 0 0 5px rgba(146, 146, 146, 0.808);
            }
            
        }

        
            
        
       

    }

    .activeCategory{
        border: 2px solid 6 var(--main-color);
        color: rgba(0, 0, 0, 1);
        background-color: var(--main-color);
        font-weight: bold;


    }

    .searchResults {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30em, 3fr));;
        gap: 2em;
        margin-top: 2em;
        margin-bottom: 2em;

        overflow: hidden;

        .resultCard {
            display: flex;
            gap: 1em;
            div {
                h1 {
                    overflow: hidden;
                }
                p {
                    word-break: break-word;
                    width: min(50ch, 100%);
                    height: 5em;
                }
            }
            img{
                border-radius: 1em;
                height: 12em;
                object-fit: cover;
                aspect-ratio: 1 / 1;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
            }


            transition: all .2s;
            &:hover {
                background-color: rgba(255, 255, 255, .1);
                border-radius: 1em;
                cursor: pointer;
            }

        }

    }

}
